@model Cliente
@{
    ViewBag.Title = "Crud";
    List<Empresa> misempresas = ViewBag.miempresa;
}



@using (Html.BeginForm("Guardar", "Cliente", FormMethod.Post))
{

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="well">
                <div id="yo" class="page">



                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Información de Clientes</a></li>
                        @*<li role="presentation" class="active">  </li>*@

                    </ul>




                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" style="scrollbar-base-color:ButtonHighlight aliceblue;" id="info">

                            <div class="form-horizontal">
                                <p></p>
                                <fieldset>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="textNombres">Empresa</label>
                                        <div class="col-md-3">
                                            <select class="input-sm col-sm-12" name="empresa_id">
                                                @foreach (var c in misempresas )
                                                {
                                                    <option @(Model.empresa_id == (c.idempresa) ? "selected" : "") value="@c.idempresa">@c.nmempresa</option>
                                                }
                                            </select>
                                        </div>
                                        <label class="col-md-2 control-label" for="textNombres"> Logo</label>
                                        <div class="col-md-3">
                                            <input type="file" name="Logo" value="" />
                                            @Html.ValidationMessageFor(x => x.logocliente, null, new { @class = "label label-danger" })
                                        </div>

                                    </div>

                                        <div class="form-group">

                                            @Html.HiddenFor(x => x.idcliente)

                                            @Html.LabelFor(x => x.nmcliente, new { @class = "col-sm-2 control-label pull-left" })
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.nmcliente, new { @class = "input-sm col-sm-12", placeholder = "Razon Social" })
                                                @Html.ValidationMessageFor(x => x.nmcliente, null, new { @class = "label label-danger" })
                                            </div>

                                            @Html.LabelFor(x => x.ruccliente, new { @class = "col-sm-1 control-label pull-left" })
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.ruccliente, new { @class = "input-sm col-sm-12", placeholder = "RUC" })
                                                @Html.ValidationMessageFor(x => x.ruccliente, null, new { @class = "label label-danger" })
                                            </div>


                                            <div class="col-md-2">
                                                <select name="estadocliente" class="input-12">
                                                    <option @(Model.estadocliente == 0 ? "selected" : "") value="0"> No Activo </option>
                                                    <option @(Model.estadocliente == 1 ? "selected" : "") value="1"> Activo </option>
                                                </select>
                                            </div>

                                        </div>


                                        <div class="form-group">

                                            @Html.LabelFor(x => x.dircliente, new { @class = "col-sm-2 control-label pull-left" })
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(x => x.dircliente, new { @class = "input-sm col-sm-12", placeholder = "Dirección" })
                                                @Html.ValidationMessageFor(x => x.dircliente, null, new { @class = "label label-danger" })
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            @Html.LabelFor(x => x.correocliente, new { @class = "col-sm-2 control-label pull-left" })
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(x => x.correocliente, new { @class = "input-sm col-sm-12", placeholder = "Correo" })
                                                @Html.ValidationMessageFor(x => x.correocliente, null, new { @class = "label label-danger" })
                                            </div>

                                            @Html.LabelFor(x => x.telefonocliente, new { @class = "col-sm-1 control-label pull-left" })
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.telefonocliente, new { @class = "input-sm col-sm-8", placeholder = "Telefono" })
                                                @Html.ValidationMessageFor(x => x.telefonocliente, null, new { @class = "label label-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">

                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.obscliente, new { @class = "col-sm-2 control-label pull-left" })
                                            <div class="col-md-6">
                                                @Html.TextAreaFor(x => x.obscliente, new { @class = "input-sm col-sm-12", placeholder = "Observaciones" })
                                                @Html.ValidationMessageFor(x => x.obscliente, null, new { @class = "label label-danger" })
                                            </div>
                                        </div>

                                   

                                </fieldset>
                                <div class="hr hr2 hr-double"></div>
                                <div class="wizard-actions">

                                    <br />


                                    <button type="submit" data-ajax="true" class="btn btn-primary">Guardar
                                    
                                        <i class="ace-icon fa fa-floppy-o icon-on-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>





}


