@model CatalogoPrecios
@{
    ViewBag.Title = "Crud";

}
<script>
    $(document).ready(function () {



        var porId = document.getElementById("idCatalogoPrecio").value

        var miurl;

        if (porId > 0) {

            miurl = "../Search_Empresa/";

        } else {
            miurl = "../catalogoprecios/Search_Empresa/";
        }


        $("#empresa").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "POST",
                    dataType: "JSON",
                    url: miurl,

                    data: { Prefix_empresa: request.term },
                    success: function (data) {
                        console.log(data)
                        response($.map(data, function (item) {
                            console.log(item);
                            return {
                                label: item.nmempresa,
                                value: item.nmempresa,

                            };
                        }))
                    }
                })

            }
                ,
            messages: {


                noResults: "No results",
                results: function (count) {
                    return count + (count == 0 ? ' result' : ' results');
                }



            }
        });
    });
</script>



@using (Html.BeginForm("Guardar", "catalogoprecios", FormMethod.Post))
{

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="well">
                <div id="yo" class="page">


                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Catalogo de Precios</a></li>
                        @*<li role="presentation" class="active">  </li>*@
                    </ul>


                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" style="scrollbar-base-color:ButtonHighlight aliceblue;" id="info">
                            <div class="form-horizontal">
                                <p></p>
                               <fieldset>
                                    <div class="form-group">

                                        @Html.HiddenFor(x => x.idCatalogoPrecio)
                                     
                                            @Html.LabelFor(x => x.empresa, new { @class = "col-sm-2 control-label pull-left" })
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(x => x.empresa, new { @class = "input-sm col-sm-12", placeholder = "empresa" })
                                            @Html.ValidationMessageFor(x => x.empresa, null, new { @class = "label label-danger" })

                                        </div>

                                    
                                            @Html.LabelFor(x => x.nombre, new { @class = "col-sm-1 control-label pull-left" })
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(x => x.nombre, new { @class = "input-sm col-sm-8", placeholder = "Tipo Equipo" })
                                            @Html.ValidationMessageFor(x => x.nombre, null, new { @class = "label label-danger" })

                                        </div>

                                  

                                     </div>

                                   <div class="form-group">
                                     
                                           @Html.LabelFor(x => x.caracteristicas, new { @class = "col-sm-2 control-label pull-left" })
                                       <div class="col-md-3">
                                           @Html.TextBoxFor(x => x.caracteristicas, new { @class = "input-sm col-sm-12", placeholder = "Caracteristicas" })
                                           @Html.ValidationMessageFor(x => x.caracteristicas, null, new { @class = "label label-danger" })

                                       </div>


                                       @Html.LabelFor(x => x.precio, new { @class = "col-sm-1 control-label pull-left" })
                                       <div class="col-md-2">
                                           @Html.TextBoxFor(x => x.precio, new { @class = "input-sm col-sm-6", placeholder = "Precio" })
                                           @Html.ValidationMessageFor(x => x.precio, null, new { @class = "label label-danger" })

                                       </div>



                               @*@Html.LabelFor(x => x.estado, new { @class = "col-sm-1 control-label pull-left" })*@

                                       <div class="col-md-2">
                                           <select name="estado" class="input-sm">
                                               <option @(Model.estado == "0" ? "selected" : "") value="0"> No Activo </option>
                                               <option @(Model.estado == "1" ? "selected" : "") value="1"> Activo </option>
                                           </select>
                                           @Html.ValidationMessageFor(x => x.estado, null, new { @class = "label label-danger" })

                                       </div>


                                   </div>


                                   <div class="form-group">
                                       @Html.LabelFor(x => x.otros, new { @class = "col-sm-2 control-label pull-left" })
                                       <div class="col-md-6">
                                           @Html.TextAreaFor(x => x.otros, new { @class = "input-sm col-md-12", placeholder = "Observaciones" })
                                           @Html.ValidationMessageFor(x => x.otros, null, new { @class = "label label-danger" })
                                       </div>
                                   </div>
                                    
                                </fieldset>

                                <div class="hr hr2 hr-double"></div>
                                <div class="wizard-actions">

                                    <br />

                                    <button type="submit" data-ajax="true" class="btn btn-primary">
                                        Guardar

                                        <i class="ace-icon fa fa-floppy-o icon-on-right"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               

            </div>
        </div>
    </div>





}

